.responsive-tabs {
    padding: 1rem;
}

.responsive-tabs .nav-tabs {
    display: none;
}


.kotak {
    margin-bottom: 20px;
    width: 100%;

}

.kotak-header {
    padding-bottom: 7px;
    border-bottom: 1px solid #E7B3BF;
}


.kotak-header a {
    font-weight: 600;
    color: #545454;
    text-decoration: none;
    position: relative;
    padding-right: 20px;
    font-size: 16px;
}

.kotak-header a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -10px;
    transform: translateY(50%);
}

.kotak-body {
    margin-top: 15px;
}



input.form-control {
    font-size: 11px;
}

@media (min-width: 768px) {
    .responsive-tabs .nav-tabs {
        display: flex;
    }

    .responsive-tabs .card {
        border: none;
    }

    .responsive-tabs .card .card-header {
        display: none;
    }

    .responsive-tabs .card .collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .responsive-tabs .tab-pane {
        display: block !important;
        opacity: 1;
    }
}